.pagetitle {
  color: var(--white, #fff);
  text-align: center;
  font-family: "Francois One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px; /* 200% */
  background: var(--dark-blue, #005564);
}

.pagetitle-bg {
}
